<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.TagUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.TagImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>thumbnail</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.TagThumbnailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thumbnail</servlet-name>
        <url-pattern>/thumbnail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tags</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.TagsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tags</servlet-name>
        <url-pattern>/tags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>layar</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.LayarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>layar</servlet-name>
        <url-pattern>/layar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>arml</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.ArmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>arml</servlet-name>
        <url-pattern>/arml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateLayarParams</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.LayarParamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateLayarParams</servlet-name>
        <url-pattern>/updateLayarParams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.artgameweekend.projects.art.web.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
