<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>org.artags.server.web.TagUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>org.artags.server.web.TagImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>thumbnail</servlet-name>
        <servlet-class>org.artags.server.web.TagThumbnailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thumbnail</servlet-name>
        <url-pattern>/thumbnail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tags</servlet-name>
        <servlet-class>org.artags.server.web.TagsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tags</servlet-name>
        <url-pattern>/tags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>layar</servlet-name>
        <servlet-class>org.artags.server.web.layar.LayarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>layar</servlet-name>
        <url-pattern>/layar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>arml</servlet-name>
        <servlet-class>org.artags.server.web.wikitude.ArmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>arml</servlet-name>
        <url-pattern>/arml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>junaio</servlet-name>
        <servlet-class>org.artags.server.web.junaio.JunaioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>junaio</servlet-name>
        <url-pattern>/junaio/pois/search/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>junaioAuth</servlet-name>
        <servlet-class>org.artags.server.web.junaio.JunaioAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>junaioAuth</servlet-name>
        <url-pattern>/junaiotest/pois/search/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateLayarParams</servlet-name>
        <servlet-class>org.artags.server.web.layar.LayarParamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateLayarParams</servlet-name>
        <url-pattern>/updateLayarParams</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>org.artags.server.web.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Appstats -->
    <filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: /appstats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/appstats/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
