<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Ehcache Headers and Page Filter -->
    <filter>
        <filter-name>SimpleCachingHeadersPageCachingFilter</filter-name>
        <filter-class>net.sf.ehcache.constructs.web.filter.SimpleCachingHeadersPageCachingFilter
        </filter-class>
        <init-param>
            <param-name>suppressStackTraces</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheName</param-name>
            <param-value>HeadersPageCache</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SimpleCachingHeadersPageCachingFilter</filter-name>
        <url-pattern>/thumbnail/*</url-pattern>
        <url-pattern>/display/*</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/Images/*</url-pattern>
        <url-pattern>/Common/*</url-pattern>
        <url-pattern>/mobile/css/*</url-pattern>
        <url-pattern>/mobile/images/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>json</servlet-name>
        <servlet-class>org.artags.site.web.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gallery</servlet-name>
        <servlet-class>org.artags.site.web.GalleryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gallery</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>thumbnail</servlet-name>
        <servlet-class>org.artags.site.web.ThumbnailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thumbnail</servlet-name>
        <url-pattern>/thumbnail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>org.artags.site.web.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tags</servlet-name>
        <servlet-class>org.artags.site.web.TagsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tags</servlet-name>
        <url-pattern>/tags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clearcache</servlet-name>
        <servlet-class>org.artags.site.web.ClearCacheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clearcache</servlet-name>
        <url-pattern>/cron/clearcache</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>org.artags.site.web.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact/formSubmit.php</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
